.title {
  font-weight: 400;
  font-size: 3rem;
}

.rating {
  margin-top: 7px;
  margin-left: 8px;
}

.rating_container {
  display: flex;
  align-items: center;
}

.overview {
  font-family: roboto;
  font-weight: 400;
  font-size: 1.4rem;
  height: 140px;
  overflow: hidden;
  margin-top: 10px;
}

.overview:hover {
  overflow-y: auto;
}

.overview::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 576px) {
  .title {
    text-align: center;
  }
  .rating_container {
    justify-content: center;
  }
  .overview {
    text-align: center;
  }
}
