.container {
  display: flex;
  align-items: center;
}
.image {
  width: 60px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 5px;
  white-space: nowrap;
}

.subtitle {
  margin-left: 15px;
  margin-top: 5px;
  font-size: 1.3rem;
  display: inline-block;
  white-space: nowrap;
}
